.container {
    background-color: tan;
    padding: 5px;
    color: #fff;

    display: flex;
    /* row-gap: 5px;
    column-gap: 10px;
    gap: 5px 10px; */
    gap:5px;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;


}
.product{
    background-color: teal;
}


.container-flex {
    background-color: #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    
}
.left{
    background-color: aqua;
}
.right{
    background-color: tomato;
}
 