.container {
    background-color: teal;
    padding: 10px;
}

.product {
    background-color: yellow;
    padding: 20px;

    float: left;
    width: 50%;
}
.service {
    background-color: thistle;
    padding: 20px;
    float: left;

}
.clr {
    clear: both;
}
h2 {
    background-color: burlywood;
}