* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    color: #fff;
}

header{
    background-color: black;
    flex-basis: 15%;
}
section{
    background-color: blueviolet;
    flex-basis: 70%;
}
footer{
    background-color: thistle;
    flex-basis: 15%;
}

@media (max-width:992px) {
    main{
        flex-direction: column;
    }
    
}